---
import MainLayout from '../layouts/MainLayout.astro';
import BlogCard from '../components/BlogCard.astro';
import EmptyBlogComponent from '../components/EmptyBlogComponent.astro';
import { getCollection } from 'astro:content';

export async function getStaticProps() {
    const posts = await getCollection("blog");
    posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
    console.log(posts); // Log the posts to the console
    return { props: { posts: posts || ["Meow"] } };
}

const { posts } = Astro.props;
---

<MainLayout pageTitle="Blog" activeItemID="blog">
    <h1 class="text-5xl font-bold mb-10">Blog</h1>
    <div class="mt-10">
        <div class="divider"></div>
        {(posts && posts.length > 0) 
          ? posts.map(blog => (
              <BlogCard blog={blog} />
          ))
          : <EmptyBlogComponent />
        }
    </div>
    <div>
    {posts}
    </div>
</MainLayout>