---
import MainLayout from "../layouts/MainLayout.astro";
import EmptyBlogComponent from "../components/EmptyBlogComponent.astro";
---

<MainLayout pageTitle="Blog">
    <h1 class="text-5xl font-bold mb-10">Blog</h1>
    <div class="mt-10">
		<div class="divider"></div> 
    <EmptyBlogComponent />
</MainLayout>