---
import MainLayout from '../layouts/MainLayout.astro';
import TimelineElement from '../components/TimelineElement.astro';
import PublicationElement from '../components/PublicationElement.astro';
---

<MainLayout pageTitle="CV" activeItemID="cv">
	<h1 class="text-5xl font-bold mb-10">Curriculum Vitae</h1>

	<div class="profile">
		<h2 class="text-3xl w-full font-bold mb-5">Profile</h2>
		<p class="mb-10 text-justify">
			I am Ishwar Balappanawar, a final-year B.Tech student at the International Institute of Information Technology Hyderabad (IIIT-H), pursuing Computer Science and Engineering. My research interests lie at the intersection of Machine Learning, Computer Vision, and Natural Language Processing, with a focus on knowledge-infused learning and model interpretability. I have a proven track record of contributing to impactful research projects and publications, alongside hands-on experience in both academic and industrial settings.
		</p>
	</div>

	<div class="education">
		<h2 class="text-3xl w-full font-bold mb-5">Education</h2>
		<div class="time-line-container grid gap-4 mb-10">
			<TimelineElement 
			title="B.Tech in Computer Science and Engineering with Honors"
			subtitle="November 2021 to May 2025 at the International Institute of Information Technology Hyderabad, India"
			/>
		</div>
	</div>

	<div class="publications">
		<h2 class="text-3xl w-full font-bold mb-5">Publications</h2>
		<div class="grid gap-4 mb-10">
			<PublicationElement
			title="Towards Infusing Auxiliary Knowledge for Distracted Driver Detection"
			authors="Ishwar Balappanawar, Ashmit Chamoli, Ruwan Wickramarachchi, Aditya Mishra, Ponnurangam Kumaraguru, Amit P. Sheth"
			venue="KiL 2024 Workshop on Knowledge-Infused Learning, co-located with the 30th ACM KDD Conference"
			link="https://arxiv.org/pdf/2408.16621"
			/>
		</div>
	</div>

	<div class="experience">
		<h2 class="text-3xl w-full font-bold mb-5">Experience</h2>
		<div class="time-line-container grid gap-4 mb-10">
			<TimelineElement
			title="Research Intern"
			subtitle="July 2024 to September 2024 at Microsoft Research, Bengaluru"
			>
			Worked on synthetic data creation pipelines for computer vision applications, optimizing data retrieval using FAISS and CLIP, and implemented scalable workflows deployed on Kubernetes and Azure ML.
			</TimelineElement>
			<TimelineElement
			title="Software Engineer Intern"
			subtitle="May 2024 to July 2024 at Microsoft IDC, Hyderabad"
			>
			Contributed to Azure Networking by developing impactful workflows and automating pipelines for Virtual Networks.
			</TimelineElement>
			<TimelineElement
			title="Undergraduate Researcher"
			subtitle="May 2023 to Present at the Precog Research Lab, IIIT Hyderabad"
			>
			Focused on integrating knowledge graphs into transformer-based language models and enhancing reasoning tasks for autonomous systems.
			</TimelineElement>
			<TimelineElement
			title="Full Stack Developer Intern"
			subtitle="January 2023 to May 2023 at Own A Home, Hyderabad"
			>
			Designed and implemented a blockchain-based fractional real estate investment platform with integrated insurance mechanisms.
			</TimelineElement>
			<TimelineElement
			title="Teaching Assistant"
			subtitle="2023-2024 at IIIT Hyderabad"
			>
			Conducted tutorials and office hours for courses including Probability and Statistics, and Linear Algebra, creating supplementary resources for students.
			</TimelineElement>
		</div>
	</div>

	<div class="skills">
		<h2 class="text-3xl w-full font-bold mb-5">Skills</h2>
		<ul class="list-disc md:columns-5 columns-2 mx-6">
			<li>Machine Learning</li>
			<li>Natural Language Processing</li>
			<li>Computer Vision</li>
			<li>Deep Learning</li>
			<li>Blockchain Development</li>
			<li>Full Stack Development</li>
			<li>Python</li>
			<li>C++</li>
			<li>Rust</li>
			<li>Docker/Kubernetes</li>
		</ul>
	</div>

</MainLayout>
