---
import MainLayout from '../layouts/MainLayout.astro';
import TimelineElement from '../components/TimelineElement.astro';
import PublicationElement from '../components/PublicationElement.astro';
---

<MainLayout pageTitle="CV" activeItemID="cv">
	<h1 class="text-5xl font-bold mb-10">Curriculum Vitae</h1>

	<div class="profile">
		<h2 class="text-3xl w-full font-bold mb-5">Profile</h2>
		<p class="mb-10 text-justify">
			I am a Software Developer and Data Scientist with a wide ranging skillset, from web development to deep learning, to embedded systems programming.
			However, my most useful skill is the ability to pick up new skills quickly and apply them to solve problems, which gives me the confidence and ability
			to systematically tackle any novel problems I encounter.
		</p>
	</div>

	<div class="education">
		<h2 class="text-3xl w-full font-bold mb-5">Education</h2>
		<div class="time-line-container grid gap-4 mb-10">
			<TimelineElement 
			title="Bachelors of Technology in Computer Science and Engineering with Honours"
			subtitle="July 2019 to June 2023 at the International Institute of Information Technology, Hyderabad, India" 
			/>
			<TimelineElement
			title="High School"
			subtitle="July 2015 to May 2019 at Indian School DSM, Dar-es-Salaam, Tanzania"
			/>
		</div>
	</div>

	<div class="publications">
		<h2 class="text-3xl w-full font-bold mb-5">Publications</h2>
		<div class="grid gap-4 mb-10">
			<PublicationElement
			title="Sim-to-Real Deep Reinforcement Learning based Obstacle Avoidance for UAVs under Measurement Uncertainty"
			authors="Joshi, Kapur, Kandath"
			venue="arXiv 2023"
			link="https://arxiv.org/abs/2303.07243"
			/>
		</div>
	</div>

	<div class="experience">
		<h2 class="text-3xl w-full font-bold mb-5">Experience</h2>
		<div class="time-line-container grid gap-4 mb-10">
			<TimelineElement
			title="Data Scientist"
			subtitle="From July 2023 to Present at Microsoft IDC, Hyderabad"
			>
			NDA 🤫
			</TimelineElement>
			<TimelineElement
			title="Research Intern"
			subtitle="From September 2023 to November 2023 at Airbus"
			>
			Testing the feasibility of UAV reconisance in GPS-denied closed-space environments. Developed a bridge application to interface with DJI drones through Python code.
			</TimelineElement>
			<TimelineElement
			title="Data Science/Machine Learning Intern"
			subtitle="From May 2022 to July 2022 at Microsoft IDC, Hyderabad"
			>
			Developed an inhouse Exploratory Data Analysis tool for the team and beyond. Optimized the general MLOps pipeline for the team's projects.
			</TimelineElement>
			<TimelineElement
			title="Teaching Assistant for Digital Systems and Microcontrollers"
			subtitle="From December 2021 to March 2022 at IIIT Hyderabad"
			>
			Incharge of taking practical Lab Sessions pertaining to digital circuits, logic gates and microcontrollers and teaching the relevant matter to students.
			</TimelineElement>
			<TimelineElement
			title="Full Stack Intern"
			subtitle="From June 2021 to August 2021 at Quriate"
			>
			Created the UI in Flutter and worked on the API endpoints in Django for the web application for the startup from scratch, to build a minimum viable product for demonstration to VCs.
			</TimelineElement>
			<TimelineElement
			title="Undergraduate Researcher"
			subtitle="From May 2021 to July 2023 at the Robotics Research Center at IIIT Hyderabad"
			>
			Research focused primarily on learning based control of Unmanned Aerial Vehicles through Deep Reinforcement Learning under advisor Harikumar Kandath.
			</TimelineElement>
			<TimelineElement
			title="Technical Head and Coordinator"
			subtitle="From July 2020 to December 2021 at the Open Source Development Group at IIIT Hyderabad"
			>
			Incharge of organizing and conducting workships and events for promoting open source development and contributing to open source projects for the student body.
			</TimelineElement>
		</div>
	</div>

	<div class="skills">
		<h2 class="text-3xl w-full font-bold mb-5">Skills</h2>
		<ul class="list-disc md:columns-5 columns-2 mx-6">
			<li>Deep Learning</li>
			<li>Reinforcement Learning</li>
			<li>Full Stack Web Development</li>
			<li>Mobile Development</li>
			<li>Game Development</li>
			<li>DevOps/MLOps</li>
			<li>Embedded Systems Programming</li>
			<li>UI/UX Design</li>
			<li>Graphics Design</li>
			<li>3D Modelling</li>
		  </ul>
	</div>

</MainLayout>
