---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import axios from 'axios';

const projectsList = [
	"KiD3",
	"Viking",
	"few-software-engineering-projects",
	"Fun-with-Data",
	"Greddit",
];

const projectsList2 = [
	"KiD3",
	"Viking",
	"few-software-engineering-projects",
	"Fun-with-Data",
	"Greddit",
	"ISHell",
	"Epilepsy-Detection",
	"3D-Car-Racing-Game",
	"JetpackJoyride",
	"Enhanching-xv6",
	"Automata-Battle---Rock-Paper-Scissors",
];

let projectsResponses = [];
try {
	projectsResponses = await Promise.all(projectsList.map(project => axios.get(`https://api.github.com/repos/ishwarbb/${project}`)));
}
catch (error) {
	console.error(error);
	projectsResponses = [];
}
const projectsDetails = projectsResponses.map(res => ({
		name: res.data.name,
		description: res.data.description,
		url: res.data.html_url,
		stars: res.data.stargazers_count,
		watchers: res.data.watchers,
		language: res.data.language,
		forks: res.data.forks,
		image: `${res.data.html_url}/raw/master/assets/Logo.png`
	}));
---

<MainLayout pageTitle="Projects" activeItemID="projects">
	<h1 class="text-5xl font-bold mb-5">Projects</h1>
	<p class="text-lg font-light">
		Every line of code and every solution is a calculated move toward a larger goal. 
	</p>
	<div class="mt-10">
		<div class="divider"></div> 
		{(projectsDetails.length > 0) ? projectsDetails.map(project => (
			<ProjectCard {project} />
		)) : (
			<div>
				<h1 class="text-xl text-center font-semibold">Got Rate limited by GitHub 😓</h1>
				<div class="divider"></div>
			</div>
		)}
	</div>
	There's many more random things I've worked on over at my <a href="https://github.com/ishwarbb" class="text-cyan-400" target="_blank">GitHub</a>, so feel free to check them out!
</MainLayout>
