---
const year = new Date().getFullYear();
---

<footer class="footer footer-center w-full block p-4 bg-base-300 text-base-content">
    <div>
      <p>Copyright © {year} - All rights reserved by Dhruv Kapur</p>
    </div>
</footer>