---
import OverlayImage from "./OverlayImage.astro";
---

<div class="my-12">
<h1 class="text-3xl mb-1 font-semibold">College Stuff</h1>
<p class="text-lg font-light mb-5 mt-2 ml-3">Tap/Hover for context.</p>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <h1 class="text-5xl font-semibold italic mb-4">*Cricket Noises*</h1>
</div>
</div>