---
import { Icon } from "astro-icon";
---

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center mt-auto lg:sticky lg:bottom-0 bg-base-200">
    <a class="mx-3 hover:text-gray-600 hover:scale-110 ease-in-out" href="https://github.com/dkapur17" target="_blank"><Icon name="mdi:github" size="30" /></a>
    <a class="mx-3 hover:text-pink-700 hover:scale-110 ease-in-out" href="https://instagram.com/dkapur17" target="_blank"><Icon name="mdi:instagram" size="30" /></a>
    <a class="mx-3 hover:text-blue-700 hover:scale-110 ease-in-out" href="https://www.linkedin.com/in/dhruv-kapur-215010156/" target="_blank"><Icon name="mdi:linkedin" size="30" /></a>
    <a class="mx-3 hover:text-blue-500 hover:scale-110 ease-in-out" href="https://www.facebook.com/dhruvkapur4/" target="_blank"><Icon name="mdi:facebook" size="30" /></a>
    <a class="mx-3 hover:text-red-500 hover:scale-110 ease-in-out" href="mailto:dhruvkapur4@gmail.com" target="_blank"><Icon name="mdi:gmail" size="30" /></a>
</div>